# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env
.env.*

# Django
db.sqlite3
*.sqlite3

media/
staticfiles/

# Logs
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Test & Coverage
.coverage
htmlcov/
.pytest_cache/.env
